$tablet-width: 768px;
$desktop-width: 1080px;
$phone-width:480px;
$main-blue: #085ac4;
$main-green: #4CAF50;
$dark-green: #326834;
$font-size: 0.9em;
$nav-height: 65px;

@import 'nav.scss';
@import 'footer.scss';

//phone
@media (max-width: #{$tablet-width - 1px}){
	.wrapper{
		background-color:black;
	}
}

//tablet
@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
	.wrapper{
		background-color:red;
	}
}

//desktop
@media (min-width: #{$desktop-width}) {
	.wrapper{
		font-family: verdana, arial, helvetica, sans-serif;
		align-self: center;
		padding:auto 0px auto 0px;
		min-height: 800px;
		margin:0px;
	}
	body{
		margin:0px;
		font-family:helvetica;
		font-size:0.9em;
	}
	
	main{
			min-width: 1024px;
			width: 70%;
			min-height: 800px;
			align-self: center;
			margin: 0px auto 0px auto;
	}

	button{
		 background: #4CAF50;
	  background-image: -webkit-linear-gradient(top, #4CAF50, #37873a);
	  background-image: -moz-linear-gradient(top, #4CAF50, #37873a);
	  background-image: -ms-linear-gradient(top, #4CAF50, #37873a);
	  background-image: -o-linear-gradient(top, #4CAF50, #37873a);
	  background-image: linear-gradient(to bottom, #4CAF50, #37873a);
	  -webkit-border-radius: 6;
	  -moz-border-radius: 6;
	  border-radius: 6px;
	  border-color:$main-green;
	  font-family: Arial;
	  font-size: 1em;
	  text-decoration: none;
	  
	  &:hover {
		  background: #3cb0fd;
		  background-image: -webkit-linear-gradient(top, #3cb0fd, #2e81b8);
		  background-image: -moz-linear-gradient(top, #3cb0fd, #2e81b8);
		  background-image: -ms-linear-gradient(top, #3cb0fd, #2e81b8);
		  background-image: -o-linear-gradient(top, #3cb0fd, #2e81b8);
		  background-image: linear-gradient(to bottom, #3cb0fd, #2e81b8);
		  text-decoration: none;
		}
	}
	
		
	#notice {
	  color: green;
	}
	
	.field_with_errors {
	  padding: 2px;
	  background-color: red;
	  display: block;
	}
	
	#error_explanation {
	  width: 450px;
	  border: 2px solid red;
	  padding: 7px 7px 0;
	  margin-bottom: 20px;
	  background-color: #f0f0f0;
	
	  h2 {
	    text-align: left;
	    font-weight: bold;
	    padding: 5px 5px 5px 15px;
	    font-size: 12px;
	    margin: -7px -7px 0;
	    background-color: #c00;
	    color: #fff;
	  }
	
	  ul li {
	    font-size: 12px;
	    list-style: square;
	  }
	}


}


