$tablet-width: 768px;
$desktop-width: 1080px;
$phone-width:480px;
$main-blue: #085ac4;
$main-green: #4CAF50;
$dark-green: #326834;
$font-size: 0.9em;
$nav-height: 65px;
//$searchbar-width: 300px;

@import 'nav.scss';
@import 'footer.scss';
@import 'forms.scss';

//phone
@media (max-width: #{$tablet-width - 1px}){
	.wrapper{
		//background-color:brown;
		font-family: verdana, arial, helvetica, sans-serif;
		align-self: center;
		padding:auto 0px auto 0px;
		min-height: 800px;
	}

	main{
			min-width: 540px;
			width: 70%;
			min-height: 600px;
			align-self: center;
			margin: 0px 0% 0px 0%;
	}

	nav{
		background-color: $main-green;
	}

	#logo{
			max-height:$nav-height;
			text-align:center;
			&:hover{
				background-color:$main-green;
			}
	}

	/*#searchBar{
		min-width:$searchbar-width;
	}*/

	.navbar{
		margin: 0px 0% 0px 0%;
		align-self: center;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: $nav-height;

		a{
			text-decoration:none;
			font-size:$font-size;

			&:visited{
				color:black;
			}
		}



	}

	.navButton{
		text-align:center;
		vertical-align:middle;
		line-height:$nav-height;
		text-decoration: none;
		color:black;
		&:hover {
			background-color: $dark-green;
		}

	}

	footer{

		background-color:$main-green;

		.footerbar{
			margin-left: 10%;
			margin-right: 10%;
			align-self: center;
			display: grid;
			grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
			grid-auto-rows: $nav-height;

		}

		a{
			text-decoration:none;
		}
		.footerDiv{
			align-content: center;
			margin: auto;

			text-align:center;
			vertical-align:middle;
			line-height:$nav-height;
			text-decoration: none;
			color:black;
			&:hover {
				background-color: $main-green;
			}
			&:visited{
				text-decoration:none;
				color:black;
			}

		}
	}
}

//tablet
@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
	.wrapper{
		//background-color:red;
		font-family: verdana, arial, helvetica, sans-serif;
		align-self: center;
		padding:auto 0px auto 0px;
		min-height: 800px;
	}

	main{
			min-width: 800px;
			width: 70%;
			min-height: 800px;
			align-self: center;
			margin: 0px 5% 0px 5%;
	}

	nav{
		background-color: $main-green;
	}

	#logo{
			max-height:$nav-height;

			&:hover{
				background-color:$main-green;
			}
	}

	.navbar{
		margin: 0px 5% 0px 5%;
		align-self: center;
		display: grid;
		grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
		grid-auto-rows: $nav-height;

		a{
			text-decoration:none;
			font-size:$font-size;

			&:visited{
				color:black;
			}
		}



	}

	.navButton{
		text-align:center;
		vertical-align:middle;
		line-height:$nav-height;
		text-decoration: none;
		color:black;
		&:hover {
			background-color: $dark-green;
		}

	}

	footer{

		background-color:$main-green;

		.footerbar{
			margin-left: 10%;
			margin-right: 10%;
			align-self: center;
			display: grid;
			grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
			grid-auto-rows: $nav-height;

		}

		a{
			text-decoration:none;
		}
		.footerDiv{
			align-content: center;
			margin: auto;

			text-align:center;
			vertical-align:middle;
			line-height:$nav-height;
			text-decoration: none;
			color:black;
			&:hover {
				background-color: $main-green;
			}
			&:visited{
				text-decoration:none;
				color:black;
			}

		}
	}
}

//desktop
@media (min-width: #{$desktop-width}) {
	.wrapper{
		font-family: verdana, arial, helvetica, sans-serif;
		align-self: center;
		padding:auto 0px auto 0px;
		min-height: 800px;
		margin:0px;
	}
	body{
		margin:0px;
		font-family:helvetica;
		font-size:0.9em;
	}
	
	
	main{
			min-width: 1024px;
			width: 70%;
			min-height: 800px;
			align-self: center;
			margin: 0px auto 0px auto;
	}

	button{
		 background: #1d8213;
	  display:inline-block;
	  font-size: $font-size;
	  color:#fff;
	  text-decoration: none;
	  margin:0px 10px 0px 10px;
	  border: none;
	  border-radius:6px;
	  &:hover {
		  background: #3cb0fd;
		  text-decoration: none;
		}
	}
	
		
	#notice {
	  color: green;
	}
	
	.field_with_errors {
	  padding: 2px;
	  background-color: red;
	  display: block;
	}
	
	#error_explanation {
	  width: 450px;
	  border: 2px solid red;
	  padding: 7px 7px 0;
	  margin-bottom: 20px;
	  background-color: #f0f0f0;
	
	  h2 {
	    text-align: left;
	    font-weight: bold;
	    padding: 5px 5px 5px 15px;
	    font-size: 12px;
	    margin: -7px -7px 0;
	    background-color: #c00;
	    color: #fff;
	  }
	
	  ul li {
	    font-size: 12px;
	    list-style: square;
	  }
	}


}
