<footer>
	<div class="footerbar">
		<div class="footerDiv">Udio</div>
		<div class="footerDiv"></div>
		<div class="footerDiv"></div>
		<div class="footerDiv"></div>
		<div class="footerDiv"></div>
		<div class="footerDiv"></div>
		<div class="footerDiv"></div>
		<div class="footerDiv"></div>
		<div class="footerDiv"></div>
		<div class="footerDiv"></div>
		<div class="footerDiv"></div>
		<div class="footerDiv"><%= link_to "About", '#' %></div>
	</div>
	
</footer>