<footer>
	<div class="footerbar">
		<div class="footerDiv">Udio</div>
		<div class="emptyDiv"></div>
		<%= link_to  '#' do %>
			<div class="footerDiv">About</div>
		<% end %>
		
		<div class="emptyDiv"></div>
		<div class="emptyDiv"></div>
	</div>
	
</footer>